#testimonials1-c .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-c .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-c .mbr-section__header {
  color: #efefef;
}
#msg-box3-0 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-0 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-1 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-9 P {
  color: #ffffff;
  text-align: left;
}
#contacts3-9 I {
  font-size: 21px;
}
#contacts3-9 B {
  font-size: 23px;
}
